* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #000f0c !important;
}

.container {
    width: 100%;
    height: 100%;
}

.menu ul {
    display: inline-flex;
    margin: 50px;
    position: absolute;
    left: -50px;
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}

.logo img {
    width: 100px;
    position: relative;
    bottom: 44px;
}

.active {
    color: #19dafa !important;
}

.signup-btn {
    top: -12px;
    right: -890px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#0b463a, #022720), radial-gradient(circle at top left, #fd00da, rgb(108, 207, 191));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 22px;
}

.banner {
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: #fff;
}

.app-text {
    width: 50%;
    float: left;
}

.app-text h1 {
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: -60px;
}

.app-text p {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
}

.picture {
    width: 50%;
    float: right;
}

.picture img {
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}

.play-btn {
    margin-left: 40px;
    display: inline-flex;
}

.play-btn-inner {
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-image: linear-gradient(#000f0c, #000f0c), radial-gradient(circle at top left, #fd00da, rgb(108, 207, 191));
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
}

.play-btn-inner .fa {
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}

small {
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #19dafa;
    letter-spacing: 3px;
}

.qick-links {
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #19423b, #14332b);
}

.qick-links ul {
    display: inline-flex;
    margin: 25px auto;
    text-align: center;
}

.qick-links ul li {
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}

.qick-links ul li .fa {
    font-size: 25px;
    color: #e1aa40;
}

.qick-links ul li p {
    margin-top: 15px;
    font-size: 10px;
    color: #fff;
}

.social-media-icons {
    right: 72px;
    bottom: 35px;
    position: absolute;
}

.social-media-icons ul li {
    list-style: none;
    margin-top: 15px;
    text-align: center;
}

.social-media-icons ul li a {
    display: block;
    color: #f0bf56;
    border-radius: 50%;
    border: 1px solid #999;
    padding: 5px;
    position: relative;
    right: -25px;
}